.container-title--loading{
    opacity: 50%;
  }
  .TodoCounterh1 {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    margin: 0;
    color: #9e02c9;
    padding-top: 30px;
    font-size: 48px;
    font-weight: 400;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.719);
  }
  
  .TodoCounterh2 {
      font-size: 19px;
      text-align: center;
      margin: 0;
      padding: 48px;
      padding-bottom: 30px;
      padding-top: 0;
      color: #efefef;
    }
   